<a href="https://colab.research.google.com/github/Dhanyamanogaran/Tasks_Guvi_D12/blob/main/KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
data= pd.read_csv("/content/Social_Network_Ads.csv")

**Importing the dataset**

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

**Splitting the dataset into the Training set and Test set**

In [ ]:
#finding the count of different labels
data['Gender'].value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [ ]:
#loading the labelEncoder function
label_encode = LabelEncoder()

In [ ]:
labels= label_encode.fit_transform(data.Gender)

In [ ]:
# separating the data and labels
X= data.drop(columns='Gender',axis=1)
Y= data['Gender']

In [ ]:
#splitting the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(400, 4) (320, 4) (80, 4)

**Feature Scaling**

In [ ]:
stand= StandardScaler()
X_train = stand.fit_transform(X_train)

**Fitting K-NN to the Training set**

In [ ]:
knn= KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=7)

**Predicting the Test set results**

In [ ]:
Y_prediction=knn.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:439: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
#checking accuracy
accuracy_score(Y_test, Y_prediction)*100

50.0

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, Y_prediction)

array([[ 0, 40],
       [ 0, 40]])